<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="py-3">Edit product</h2>
      <form id="addProduct" (submit)="addnewProduct($event)">
          <div class="form-group">
            <label for="id">Product ID</label>
            <input type="number" class="form-control" id="id" [(ngModel)]="id" name="id" (ngModelChange)="checkvalidid($event)" placeholder="ID" disabled>
            <div [@iderrorState]="stateName" class="alert alert-warning" id="iderrormsg" role="alert">{{iderrormsg}} {{iderrormsg2}}</div>
          </div>
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter product name...">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea class="form-control" [(ngModel)]="desc" name="desc" rows="3"></textarea>
        </div>
        <label for="price">Price</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="number" class="form-control" [(ngModel)]="price" name="price">
        </div>
        <div class="form-group">
          <label for="units">Units</label>
          <input type="number" class="form-control" [(ngModel)]="units" name="units" placeholder="Enter number of units">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square"></i>Add New</button>
        <div [@noticeState]="noticeName" class="alert alert-warning" role="alert"> {{newProductMessage}} </div>
      </form>
    </div>
  </div>
</div>